body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: navy;
}

#container {
    margin: 0 auto;
    text-align: center;
}



h1 {
    font-family: 'Arial', cursive;
}

#animal-img {
    border: 3px solid green;
    border-radius: 5px;
}